@model AnimalMed.DTO.Animals.EditAnimalModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>AnimalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordNo" class="control-label"></label>
                <input asp-for="PasswordNo" class="form-control" />
                <span asp-validation-for="PasswordNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="" id="imgOutput" height="40"/>
                <label asp-for="ImageUrl" class="control-label"></label>
                <input id="fuImage" type="file" accept="image/*" name="image" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#fuImage").change(function (e) {
                $("#imgOutput").prop("src", URL.createObjectURL(e.target.files[0]));
               // $("#imgOutput").css("background-image", "url(" + URL.createObjectURL(e.target.files[0]) + ")");
             });
         });
    </script>
}
